/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px){

.bg{

}
.bg .page-title-home{
padding-top:-10%;	
padding-bottom:5%;

}
.bg .pg1{
	color:blue;
}
.bg .page-title-home h2 {
    font-size: 28px;
   
 
}
.bg .page-title-home p {
	padding-top:5%;
	 font-size: 12px;
      line-height: 14px;
}
.bg .page-title-text{
padding-top:-10%;	
padding-bottom:5%;
}
.bg .page-title-text h2 {
    font-size: 32px;
   
 
}
.bg .page-title-text p {
	 font-size: 12px;
      line-height: 18px;
}

}
